# Identifiants Application
APP_USER=app_user
APP_PASSWORD=mon_mot_de_passe_securise

# Identifiants Root MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=mon_mot_de_passe_root

# Configuration Base de Données
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=healthcare_db
MONGO_COLLECTION=patients
BATCH_SIZE=1000